k8s/*
.terraform/
*terraform.tfstate
*terraform.tfstate.backup
*.pub
*.pem
generate-kubeconfigs.sh
kubeconfig-original.yaml
kubeconfig-tunneled.yaml
kubeconfig-tunneled.yaml.bak
start-tunnel.sh
global/.terraform.tfstate.lock.info
cluster.yaml
./kubeconfig-original.yaml
./kubeconfig-tunneled.yaml
*terraform.tfstate*
install apps/*
kubeconfig/*
kops/cluster.yaml
pre_setup/*
.env
**/README*
